In [2]:
import os
import pandas as pd
import glob 
from datetime import datetime #타임스탬프 시간으로

In [345]:
user_device_0 = 'C:\\논문코드\\데이터가공소\\dataset\\userdevice\\user-device_0.csv' #유저와 디바이스 관계
private_mobile_devices_0 = 'C:\\논문코드\\데이터가공소\\dataset\\mobiledevice\\private_mobile_devices_0.csv' #유저 디바이스 위치 시간

In [346]:
print(user_device_0,private_mobile_devices_0)

C:\논문코드\데이터가공소\dataset\userdevice\user-device_0.csv C:\논문코드\데이터가공소\dataset\mobiledevice\private_mobile_devices_0.csv

In [347]:
userdevice = pd.read_csv(user_device_0)
mobiledevice = pd.read_csv(private_mobile_devices_0)

#userdevice
#mobiledevice

In [348]:
# 조인하여 엑셀 파일로 만들기.

# print(dataFrame0)
# dataFrame0.to_csv('C:\논문코드\데이터가공소\dataset\분석중\dataframe0.csv')

In [349]:
# df_time = mobiledevice[["timestamp_start", "timestamp_stop","id_user"]]
# df_time['dt_start'] = df_time["timestamp_start"].apply(lambda x: datetime.fromtimestamp(x))
# df_time['dt_stop'] = df_time["timestamp_stop"].apply(lambda x: datetime.fromtimestamp(x))
# df_time_1 = df_time.drop(['timestamp_start','timestamp_stop'], axis=1)
# df_time_1
#df_time.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\time1.csv')

In [350]:
#사용자가 가지고 있는 디바이스 리스트로 표현하기. [device_id, device_type]
#디바이스 타입을 알고 있으면 사용 가능한 서비스도 알 수 있음.

user_device_1 = 'C:\\논문코드\\데이터가공소\\dataset\\userdevice\\user_device_1.csv'
userdevice_1 = pd.read_csv(user_device_1)
userdevice_2 = userdevice_1.drop(['device_brand','device_model'], axis=1)
cols = ['id_device', 'device_type']
userdevice_2['device_id_type'] = userdevice_2[cols].apply(lambda row: ','.join(row.values.astype(str)), axis=1)
userdevice_3 = userdevice_2.groupby('id_user')['device_id_type'].apply(list)
userdevice_3
#userdevice_3.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\user7.csv')

id_user
0       [14601,15, 14602,15, 14603,15, 14604,15, 14605...
1                      [3537,1, 4422,2, 11252,6, 14433,8]
2               [1145,1, 5180,2, 6926,3, 8834,6, 12483,7]
3                       [2325,1, 5678,2, 9860,6, 12020,7]
4                      [2357,1, 6201,3, 11202,6, 13654,7]
                              ...
3996                     [865,1, 6217,3, 8684,6, 13600,7]
3997                            [3535,1, 6424,3, 11732,6]
3998                           [3853,2, 11700,6, 13235,7]
3999                   [1785,1, 4627,2, 10648,6, 12686,7]
4000                                     [1712,1, 8648,6]
Name: device_id_type, Length: 4001, dtype: object

In [4]:
df_time = mobiledevice
df_time['start'] = df_time["timestamp_start"].apply(lambda x: datetime.fromtimestamp(x))
df_time['stop'] = df_time["timestamp_stop"].apply(lambda x: datetime.fromtimestamp(x))
df_time_2 = df_time.drop(['timestamp_start','timestamp_stop'], axis=1)
df_time_2
# df_time_2.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\public_time.csv')

In [5]:
public_mobile_devices_0 = 'C:\\논문코드\\데이터가공소\\dataset\\public_devices\\public_mobile_devices.csv' 
mobiledevice = pd.read_csv(public_mobile_devices_0)

df_time = mobiledevice
df_time['start'] = df_time["timestamp_start"].apply(lambda x: datetime.fromtimestamp(x))
df_time['stop'] = df_time["timestamp_stop"].apply(lambda x: datetime.fromtimestamp(x))
df_time_3 = df_time.drop(['timestamp_start','timestamp_stop'], axis=1)
df_time_3
df_time_3.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\public_time2.csv')

In [353]:
# #df_time_2.set_index(['start', 'stop'])[['id_user']].unstack()
# df_time_2.groupby(["id_user"])["start","stop"]
# df_time_2

In [354]:
# groups = df_time_2.groupby(["x", "y"])['id_user']

In [404]:
df_time_3 = df_time_2.set_index(keys=['id_user'], inplace=False, drop=True)
df_time_3.sort_index(inplace=True)
df_time_3
#df_time_3.apply(pd.value_counts)
#df_time_3.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\time3.csv')

                x         y               start                stop
id_user
1        0.084567  0.758929 1970-01-29 15:53:20 1970-01-30 03:12:00
1        0.540542  0.470326 1970-01-30 17:39:30 1970-01-30 17:46:30
1        0.067611  0.699221 1970-01-23 15:24:00 1970-01-25 18:15:50
1        0.069703  0.705057 1970-01-30 17:37:20 1970-01-30 17:39:10
1        0.078883  0.708748 1970-01-30 17:33:20 1970-01-30 17:37:00
...           ...       ...                 ...                 ...
4000     0.355639  0.718539 1970-01-30 20:08:30 1970-01-30 20:14:40
4000     0.586572  0.999992 1970-01-24 19:43:20 1970-01-24 19:47:40
4000     0.364750  0.535025 1970-01-30 20:15:00 1970-01-30 20:22:40
4000     0.511551  0.994043 1970-01-24 19:15:40 1970-01-24 19:43:00
4000     0.581769  0.989533 1970-01-30 19:30:00 1970-01-30 19:31:40

[286711 rows x 4 columns]

In [401]:
#df_time_3.loc[3417]
for index, row in df_time_3.iterrows():
    for i in row:
        if i == 1: 
            print(index)
            print('~~~~~~')
            print(row.round())
            print('------')
            print('======\n')


#df_summary

In [409]:
df_time_3.loc[3417]['x']

id_user
3417    0.317207
3417    0.206658
3417    0.205681
3417    0.554917
3417    0.231408
3417    0.094637
3417    0.353255
3417    0.117135
3417    0.478229
3417    0.278069
3417    0.340763
3417    0.305849
3417    0.837732
3417    0.393806
3417    0.275164
3417    0.298653
3417    0.302842
3417    0.564473
3417    0.300415
3417    0.271033
3417    0.243537
3417    0.324708
3417    0.291357
3417    0.398585
3417    0.387114
3417    0.497683
3417    0.421597
3417    0.000283
3417    0.315437
3417    0.312177
3417    0.299789
3417    0.058423
3417    0.285840
3417    0.329018
3417    0.298783
3417    0.286374
3417    0.173853
Name: x, dtype: float64

In [376]:
# df_time_3['start'] = pd.to_datetime(df_time_3['start'])
# df_summary['price_10m_first'] = df_time_3.start.resample('10T').sum()
# datetime(df_time_3['start'])

df_time_4 = df_time_2.set_index(keys=['start'], inplace=False, drop=True)

df_time_4.sort_index(inplace=True)
df_time_4.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\time4.csv')
df_time_4

                     id_user         x         y                stop
start
1970-01-21 09:00:20      685  0.741629  0.581316 1970-01-21 09:15:50
1970-01-21 09:00:30     1805  0.253081  0.997948 1970-01-21 09:04:30
1970-01-21 09:00:40     1953  0.909359  0.378448 1970-01-21 09:03:10
1970-01-21 09:00:40     2449  0.945438  0.629264 1970-01-21 09:09:20
1970-01-21 09:00:40     2332  0.296147  0.222340 1970-01-21 09:14:50
...                      ...       ...       ...                 ...
1970-01-31 08:52:00      248  0.988762  0.300591 1970-01-31 08:54:40
1970-01-31 08:52:10     3058  0.375182  0.115330 1970-01-31 08:53:50
1970-01-31 08:53:30     2268  0.340976  0.998435 1970-01-31 08:55:20
1970-01-31 08:53:50      644  0.619545  0.800302 1970-01-31 08:55:50
1970-01-31 08:56:50     1311  0.580339  0.729630 1970-01-31 08:59:30

[286711 rows x 4 columns]

In [380]:
df_summary = pd.DataFrame()
df_summary['x_1'] = df_time_4['x'].resample('6H').first()
df_summary['y_1'] = df_time_4['y'].resample('6H').first()
df_summary['user_1'] = df_time_4['id_user'].resample('6H').first()
df_summary['x_2'] = df_time_4['x'].resample('6H').last()
df_summary['y_2'] = df_time_4['y'].resample('6H').last()
df_summary['user_2'] = df_time_4['id_user'].resample('6H').last()
df_summary

                          x_1       y_1  user_1       x_2       y_2  user_2
start
1970-01-21 06:00:00  0.741629  0.581316     685  0.125269  0.718768     232
1970-01-21 12:00:00  0.360492  0.097944    2545  0.156285  0.008127    2830
1970-01-21 18:00:00  0.913698  0.391898     369  0.287063  0.889898    3856
1970-01-22 00:00:00  0.454052  0.741200    2292  0.630064  0.634749     612
1970-01-22 06:00:00  0.714305  0.291737    2948  0.496185  0.983074    1985
1970-01-22 12:00:00  0.329971  0.590889     772  0.767414  0.171819    3368
1970-01-22 18:00:00  0.282661  0.673497    3709  0.422901  0.017529    2465
1970-01-23 00:00:00  0.331674  0.581318    1247  0.347651  0.363764     968
1970-01-23 06:00:00  0.040077  0.472103    3615  0.154697  0.786567    3864
1970-01-23 12:00:00  0.152161  0.908378    3270  0.380936  0.427563    3242
1970-01-23 18:00:00  0.525309  0.892959     648  0.560523  0.166160    2700
1970-01-24 00:00:00  0.703155  0.279748    2329  0.424521  0.398040    1433
1970-01-24 06:00:00  0.938748  0.085654    2516  0.948886  0.419995    1321
1970-01-24 12:00:00  0.324229  0.213670    3270  0.870413  0.116023     892
1970-01-24 18:00:00  0.358817  0.643219    1261  0.886183  0.068341    1761
1970-01-25 00:00:00  0.205661  0.306977     520  0.817297  0.166592    1198
1970-01-25 06:00:00  0.284801  0.933483    3444  0.416275  0.063956     633
1970-01-25 12:00:00  0.569556  0.371057    1387  0.699265  0.446764    1229
1970-01-25 18:00:00  0.872849  0.093098    1171  0.827721  0.256379    3794
1970-01-26 00:00:00  0.668307  0.168542     808  0.980347  0.520792    1325
1970-01-26 06:00:00  0.227348  0.013446    3244  0.575543  0.438545    2679
1970-01-26 12:00:00  0.125806  0.960522    2307  0.971304  0.104364    1583
1970-01-26 18:00:00  0.553249  0.344085    3084  0.490592  0.713714     907
1970-01-27 00:00:00  0.540788  0.657614    1411  0.063358  0.665383    3610
1970-01-27 06:00:00  0.338203  0.891229    2346  0.935830  0.018809    3797
1970-01-27 12:00:00  0.048744  0.558449    1510  0.600211  0.629278    2420
1970-01-27 18:00:00  0.807201  0.129034     340  0.767050  0.591904     443
1970-01-28 00:00:00  0.319904  0.068248    3291  0.312517  0.201539    2122
1970-01-28 06:00:00  0.241797  0.160329    1496  0.442401  0.545813    1762
1970-01-28 12:00:00  0.033778  0.502445    3521  0.287810  0.894610    2958
1970-01-28 18:00:00  0.123509  0.397798    3469  0.421950  0.928350     901
1970-01-29 00:00:00  0.101486  0.340990     509  0.898491  0.368990     231
1970-01-29 06:00:00  0.275793  0.995392    3177  0.231951  0.705770    1915
1970-01-29 12:00:00  0.163627  0.820321    2025  0.520080  0.501043     743
1970-01-29 18:00:00  0.507612  0.739502    1438  0.673727  0.504136     983
1970-01-30 00:00:00  0.604373  0.435288    2866  0.415867  0.536078     458
1970-01-30 06:00:00  0.499689  0.839925     430  0.420463  0.677829    1142
1970-01-30 12:00:00  0.877020  0.194020    1857  0.949189  0.460632    1945
1970-01-30 18:00:00  0.605174  0.644272     469  0.262561  0.219463    1854
1970-01-31 00:00:00  0.829809  0.271009    3678  0.975188  0.097311    3538
1970-01-31 06:00:00  0.240513  0.074050    1684  0.580339  0.729630    1311

In [366]:
df_time_5 = df_time_2.set_index(keys=['start'], inplace=False, drop=True)
#df_time_5.index = pd.to_datetime(df_time_5.index, unit='ms')
df_time_5.sort_index(inplace=True)
df_time_5

                     id_user         x         y                stop
start
1970-01-21 09:00:20      685  0.741629  0.581316 1970-01-21 09:15:50
1970-01-21 09:00:30     1805  0.253081  0.997948 1970-01-21 09:04:30
1970-01-21 09:00:40     1953  0.909359  0.378448 1970-01-21 09:03:10
1970-01-21 09:00:40     2449  0.945438  0.629264 1970-01-21 09:09:20
1970-01-21 09:00:40     2332  0.296147  0.222340 1970-01-21 09:14:50
...                      ...       ...       ...                 ...
1970-01-31 08:52:00      248  0.988762  0.300591 1970-01-31 08:54:40
1970-01-31 08:52:10     3058  0.375182  0.115330 1970-01-31 08:53:50
1970-01-31 08:53:30     2268  0.340976  0.998435 1970-01-31 08:55:20
1970-01-31 08:53:50      644  0.619545  0.800302 1970-01-31 08:55:50
1970-01-31 08:56:50     1311  0.580339  0.729630 1970-01-31 08:59:30

[286711 rows x 4 columns]

In [367]:
df_summary = pd.DataFrame()
df_summary['x_1'] = df_time_5['x'].resample('6H').first()
df_summary['y_1'] = df_time_5['y'].resample('6H').first()
df_summary['x_2'] = df_time_5['x'].resample('6H').last()
df_summary['y_2'] = df_time_5['y'].resample('6H').last()
df_summary

                          x_1       y_1       x_2       y_2
start
1970-01-21 06:00:00  0.741629  0.581316  0.125269  0.718768
1970-01-21 12:00:00  0.360492  0.097944  0.156285  0.008127
1970-01-21 18:00:00  0.913698  0.391898  0.287063  0.889898
1970-01-22 00:00:00  0.454052  0.741200  0.630064  0.634749
1970-01-22 06:00:00  0.714305  0.291737  0.496185  0.983074
1970-01-22 12:00:00  0.329971  0.590889  0.767414  0.171819
1970-01-22 18:00:00  0.282661  0.673497  0.422901  0.017529
1970-01-23 00:00:00  0.331674  0.581318  0.347651  0.363764
1970-01-23 06:00:00  0.040077  0.472103  0.154697  0.786567
1970-01-23 12:00:00  0.152161  0.908378  0.380936  0.427563
1970-01-23 18:00:00  0.525309  0.892959  0.560523  0.166160
1970-01-24 00:00:00  0.703155  0.279748  0.424521  0.398040
1970-01-24 06:00:00  0.938748  0.085654  0.948886  0.419995
1970-01-24 12:00:00  0.324229  0.213670  0.870413  0.116023
1970-01-24 18:00:00  0.358817  0.643219  0.886183  0.068341
1970-01-25 00:00:00  0.205661  0.306977  0.817297  0.166592
1970-01-25 06:00:00  0.284801  0.933483  0.416275  0.063956
1970-01-25 12:00:00  0.569556  0.371057  0.699265  0.446764
1970-01-25 18:00:00  0.872849  0.093098  0.827721  0.256379
1970-01-26 00:00:00  0.668307  0.168542  0.980347  0.520792
1970-01-26 06:00:00  0.227348  0.013446  0.575543  0.438545
1970-01-26 12:00:00  0.125806  0.960522  0.971304  0.104364
1970-01-26 18:00:00  0.553249  0.344085  0.490592  0.713714
1970-01-27 00:00:00  0.540788  0.657614  0.063358  0.665383
1970-01-27 06:00:00  0.338203  0.891229  0.935830  0.018809
1970-01-27 12:00:00  0.048744  0.558449  0.600211  0.629278
1970-01-27 18:00:00  0.807201  0.129034  0.767050  0.591904
1970-01-28 00:00:00  0.319904  0.068248  0.312517  0.201539
1970-01-28 06:00:00  0.241797  0.160329  0.442401  0.545813
1970-01-28 12:00:00  0.033778  0.502445  0.287810  0.894610
1970-01-28 18:00:00  0.123509  0.397798  0.421950  0.928350
1970-01-29 00:00:00  0.101486  0.340990  0.898491  0.368990
1970-01-29 06:00:00  0.275793  0.995392  0.231951  0.705770
1970-01-29 12:00:00  0.163627  0.820321  0.520080  0.501043
1970-01-29 18:00:00  0.507612  0.739502  0.673727  0.504136
1970-01-30 00:00:00  0.604373  0.435288  0.415867  0.536078
1970-01-30 06:00:00  0.499689  0.839925  0.420463  0.677829
1970-01-30 12:00:00  0.877020  0.194020  0.949189  0.460632
1970-01-30 18:00:00  0.605174  0.644272  0.262561  0.219463
1970-01-31 00:00:00  0.829809  0.271009  0.975188  0.097311
1970-01-31 06:00:00  0.240513  0.074050  0.580339  0.729630

In [368]:
for index, row in df_summary.iterrows():
    print(index)
    print('~~~~~~')

    print(row)
    print('------')
    
    #print(row['point'])
    print(row[2])
    #print(row.point)
    print('======\n')

#df_summary  
#df_time_5.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\time5.csv')

1970-01-21 06:00:00
~~~~~~
x_1    0.741629
y_1    0.581316
x_2    0.125269
y_2    0.718768
Name: 1970-01-21 06:00:00, dtype: float64
------
0.12526900000000002
======

1970-01-21 12:00:00
~~~~~~
x_1    0.360492
y_1    0.097944
x_2    0.156285
y_2    0.008127
Name: 1970-01-21 12:00:00, dtype: float64
------
0.15628499999999998
======

1970-01-21 18:00:00
~~~~~~
x_1    0.913698
y_1    0.391898
x_2    0.287063
y_2    0.889898
Name: 1970-01-21 18:00:00, dtype: float64
------
0.287063
======

1970-01-22 00:00:00
~~~~~~
x_1    0.454052
y_1    0.741200
x_2    0.630064
y_2    0.634749
Name: 1970-01-22 00:00:00, dtype: float64
------
0.6300640000000001
======

1970-01-22 06:00:00
~~~~~~
x_1    0.714305
y_1    0.291737
x_2    0.496185
y_2    0.983074
Name: 1970-01-22 06:00:00, dtype: float64
------
0.49618500000000004
======

1970-01-22 12:00:00
~~~~~~
x_1    0.329971
y_1    0.590889
x_2    0.767414
y_2    0.171819
Name: 1970-01-22 12:00:00, dtype: float64
------
0.767414
======

1970-01-22 18:00:00
~~~~~~
x_1    0.282661
y_1    0.673497
x_2    0.422901
y_2    0.017529
Name: 1970-01-22 18:00:00, dtype: float64
------
0.422901
======

1970-01-23 00:00:00
~~~~~~
x_1    0.331674
y_1    0.581318
x_2    0.347651
y_2    0.363764
Name: 1970-01-23 00:00:00, dtype: float64
------
0.34765100000000004
======

1970-01-23 06:00:00
~~~~~~
x_1    0.040077
y_1    0.472103
x_2    0.154697
y_2    0.786567
Name: 1970-01-23 06:00:00, dtype: float64
------
0.154697
======

1970-01-23 12:00:00
~~~~~~
x_1    0.152161
y_1    0.908378
x_2    0.380936
y_2    0.427563
Name: 1970-01-23 12:00:00, dtype: float64
------
0.380936
======

1970-01-23 18:00:00
~~~~~~
x_1    0.525309
y_1    0.892959
x_2    0.560523
y_2    0.166160
Name: 1970-01-23 18:00:00, dtype: float64
------
0.560523
======

1970-01-24 00:00:00
~~~~~~
x_1    0.703155
y_1    0.279748
x_2    0.424521
y_2    0.398040
Name: 1970-01-24 00:00:00, dtype: float64
------
0.424521
======

1970-01-24 06:00:00
~~~~~~
x_1    0.938748
y_1    0.085654
x_2    0.948886
y_2    0.419995
Name: 1970-01-24 06:00:00, dtype: float64
------
0.948886
======

1970-01-24 12:00:00
~~~~~~
x_1    0.324229
y_1    0.213670
x_2    0.870413
y_2    0.116023
Name: 1970-01-24 12:00:00, dtype: float64
------
0.8704129999999999
======

1970-01-24 18:00:00
~~~~~~
x_1    0.358817
y_1    0.643219
x_2    0.886183
y_2    0.068341
Name: 1970-01-24 18:00:00, dtype: float64
------
0.8861829999999999
======

1970-01-25 00:00:00
~~~~~~
x_1    0.205661
y_1    0.306977
x_2    0.817297
y_2    0.166592
Name: 1970-01-25 00:00:00, dtype: float64
------
0.817297
======

1970-01-25 06:00:00
~~~~~~
x_1    0.284801
y_1    0.933483
x_2    0.416275
y_2    0.063956
Name: 1970-01-25 06:00:00, dtype: float64
------
0.416275
======

1970-01-25 12:00:00
~~~~~~
x_1    0.569556
y_1    0.371057
x_2    0.699265
y_2    0.446764
Name: 1970-01-25 12:00:00, dtype: float64
------
0.6992649999999999
======

1970-01-25 18:00:00
~~~~~~
x_1    0.872849
y_1    0.093098
x_2    0.827721
y_2    0.256379
Name: 1970-01-25 18:00:00, dtype: float64
------
0.8277209999999999
======

1970-01-26 00:00:00
~~~~~~
x_1    0.668307
y_1    0.168542
x_2    0.980347
y_2    0.520792
Name: 1970-01-26 00:00:00, dtype: float64
------
0.980347
======

1970-01-26 06:00:00
~~~~~~
x_1    0.227348
y_1    0.013446
x_2    0.575543
y_2    0.438545
Name: 1970-01-26 06:00:00, dtype: float64
------
0.575543
======

1970-01-26 12:00:00
~~~~~~
x_1    0.125806
y_1    0.960522
x_2    0.971304
y_2    0.104364
Name: 1970-01-26 12:00:00, dtype: float64
------
0.9713040000000001
======

1970-01-26 18:00:00
~~~~~~
x_1    0.553249
y_1    0.344085
x_2    0.490592
y_2    0.713714
Name: 1970-01-26 18:00:00, dtype: float64
------
0.49059200000000003
======

1970-01-27 00:00:00
~~~~~~
x_1    0.540788
y_1    0.657614
x_2    0.063358
y_2    0.665383
Name: 1970-01-27 00:00:00, dtype: float64
------
0.0633576
======

1970-01-27 06:00:00
~~~~~~
x_1    0.338203
y_1    0.891229
x_2    0.935830
y_2    0.018809
Name: 1970-01-27 06:00:00, dtype: float64
------
0.9358299999999999
======

1970-01-27 12:00:00
~~~~~~
x_1    0.048744
y_1    0.558449
x_2    0.600211
y_2    0.629278
Name: 1970-01-27 12:00:00, dtype: float64
------
0.6002109999999999
======

1970-01-27 18:00:00
~~~~~~
x_1    0.807201
y_1    0.129034
x_2    0.767050
y_2    0.591904
Name: 1970-01-27 18:00:00, dtype: float64
------
0.76705
======

1970-01-28 00:00:00
~~~~~~
x_1    0.319904
y_1    0.068248
x_2    0.312517
y_2    0.201539
Name: 1970-01-28 00:00:00, dtype: float64
------
0.312517
======

1970-01-28 06:00:00
~~~~~~
x_1    0.241797
y_1    0.160329
x_2    0.442401
y_2    0.545813
Name: 1970-01-28 06:00:00, dtype: float64
------
0.44240100000000004
======

1970-01-28 12:00:00
~~~~~~
x_1    0.033778
y_1    0.502445
x_2    0.287810
y_2    0.894610
Name: 1970-01-28 12:00:00, dtype: float64
------
0.28781
======

1970-01-28 18:00:00
~~~~~~
x_1    0.123509
y_1    0.397798
x_2    0.421950
y_2    0.928350
Name: 1970-01-28 18:00:00, dtype: float64
------
0.42195
======

1970-01-29 00:00:00
~~~~~~
x_1    0.101486
y_1    0.340990
x_2    0.898491
y_2    0.368990
Name: 1970-01-29 00:00:00, dtype: float64
------
0.898491
======

1970-01-29 06:00:00
~~~~~~
x_1    0.275793
y_1    0.995392
x_2    0.231951
y_2    0.705770
Name: 1970-01-29 06:00:00, dtype: float64
------
0.23195100000000002
======

1970-01-29 12:00:00
~~~~~~
x_1    0.163627
y_1    0.820321
x_2    0.520080
y_2    0.501043
Name: 1970-01-29 12:00:00, dtype: float64
------
0.52008
======

1970-01-29 18:00:00
~~~~~~
x_1    0.507612
y_1    0.739502
x_2    0.673727
y_2    0.504136
Name: 1970-01-29 18:00:00, dtype: float64
------
0.6737270000000001
======

1970-01-30 00:00:00
~~~~~~
x_1    0.604373
y_1    0.435288
x_2    0.415867
y_2    0.536078
Name: 1970-01-30 00:00:00, dtype: float64
------
0.415867
======

1970-01-30 06:00:00
~~~~~~
x_1    0.499689
y_1    0.839925
x_2    0.420463
y_2    0.677829
Name: 1970-01-30 06:00:00, dtype: float64
------
0.42046300000000003
======

1970-01-30 12:00:00
~~~~~~
x_1    0.877020
y_1    0.194020
x_2    0.949189
y_2    0.460632
Name: 1970-01-30 12:00:00, dtype: float64
------
0.949189
======

1970-01-30 18:00:00
~~~~~~
x_1    0.605174
y_1    0.644272
x_2    0.262561
y_2    0.219463
Name: 1970-01-30 18:00:00, dtype: float64
------
0.262561
======

1970-01-31 00:00:00
~~~~~~
x_1    0.829809
y_1    0.271009
x_2    0.975188
y_2    0.097311
Name: 1970-01-31 00:00:00, dtype: float64
------
0.9751879999999999
======

1970-01-31 06:00:00
~~~~~~
x_1    0.240513
y_1    0.074050
x_2    0.580339
y_2    0.729630
Name: 1970-01-31 06:00:00, dtype: float64
------
0.580339
======

In [369]:
df_time_6 = df_time_2.set_index(keys=['start','stop'], inplace=False, drop=True)
df_time_6.pivot(['x','y'],'id_user')
df_time_6
#df_time_6.to_csv('C:\\논문코드\\데이터가공소\\dataset\\분석중\\time6.csv')
#df_time_2.set_index(["start", "stop"])[["x","y"]].unstack()

                                         id_user         x         y
start               stop
1970-01-21 09:00:20 1970-01-21 09:15:50      685  0.741629  0.581316
1970-01-21 09:00:30 1970-01-21 09:04:30     1805  0.253081  0.997948
1970-01-21 09:00:40 1970-01-21 09:03:10     1953  0.909359  0.378448
                    1970-01-21 09:09:20     2449  0.945438  0.629264
                    1970-01-21 09:14:50     2332  0.296147  0.222340
...                                          ...       ...       ...
1970-01-31 08:52:00 1970-01-31 08:54:40      248  0.988762  0.300591
1970-01-31 08:52:10 1970-01-31 08:53:50     3058  0.375182  0.115330
1970-01-31 08:53:30 1970-01-31 08:55:20     2268  0.340976  0.998435
1970-01-31 08:53:50 1970-01-31 08:55:50      644  0.619545  0.800302
1970-01-31 08:56:50 1970-01-31 08:59:30     1311  0.580339  0.729630

[286711 rows x 3 columns]

In [370]:
groups = df_time_3.groupby(["x", "y"])['start','stop']
groups.groups

<ipython-input-370-ad9374128207>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groups = df_time_3.groupby(["x", "y"])['start','stop']

{(0.00028251599999999996, 0.0957248): [3417], (0.000486561, 0.614971): [405], (0.000564856, 0.209457): [1932], (0.000604259, 0.36583699999999997): [2566], (0.0006097580000000001, 0.238581): [3955], (0.0006222980000000001, 0.6050949999999999): [1939], (0.000650019, 0.230188): [1454], (0.000659321, 0.679186): [3262], (0.000736668, 0.342472): [204], (0.000742688, 0.300685): [1453], (0.000752594, 0.043986300000000006): [170], (0.00075995, 0.901965): [1661], (0.000836493, 0.787898): [405], (0.0008385389999999999, 0.120798): [3877], (0.000863745, 0.8853709999999999): [863], (0.00088879, 0.57581): [3572], (0.000934249, 0.7432270000000001): [2092], (0.000955322, 0.366969): [3479], (0.000991287, 0.691184): [2761], (0.00101799, 0.959375): [2463], (0.00102823, 0.163133): [915], (0.00103414, 0.320974): [941], (0.00106003, 0.346012): [2090], (0.00111742, 0.507555): [1745], (0.00115328, 0.368182): [1047], (0.00115373, 0.49020600000000003): [3719], (0.00116889, 0.0136261): [3250], (0.00117829, 0.335756): [3479], (0.00121676, 0.25196599999999997): [1697], (0.00123906, 0.0465449): [2975], (0.00124487, 0.13258699999999998): [3373], (0.00126726, 0.0517563): [2566], (0.00132759, 0.42650699999999997): [2262], (0.00133276, 0.357522): [3284], (0.00136885, 0.014620500000000002): [2701], (0.00137734, 0.923141): [3212], (0.00138463, 0.862454): [1661], (0.00138561, 0.710282): [2106], (0.00139541, 0.10441600000000001): [3106], (0.0014263, 0.284064): [1315], (0.00149598, 0.8496360000000001): [1661], (0.00153421, 0.424242): [1488], (0.00154239, 0.8443129999999999): [1054], (0.00154427, 0.590676): [405], (0.00158763, 0.037238099999999996): [2332], (0.00161333, 0.691303): [517], (0.00165266, 0.844342): [1661], (0.00165833, 0.5492739999999999): [3930], (0.00166617, 0.038798599999999996): [540], (0.00167216, 0.817427): [3890], (0.00169809, 0.791403): [3890], (0.00172322, 0.28980300000000003): [3992], (0.00172409, 0.353993): [2688], (0.00173092, 0.15296500000000002): [830], (0.00173832, 0.28626399999999996): [1467], (0.00175208, 0.765573): [3890], (0.0017722, 0.0659592): [1659], (0.00178697, 0.959348): [2537], (0.00179494, 0.573601): [430], (0.00179629, 0.30946799999999997): [1183], (0.00180941, 0.102619): [2940], (0.00180984, 0.438633): [1062], (0.00181093, 0.192378): [665], (0.0018287, 0.605367): [1031], (0.00187686, 0.363183): [2738], (0.00190487, 0.984785): [2052], (0.00192191, 0.021378400000000002): [2242], (0.00192246, 0.887125): [2236], (0.00193658, 0.20518000000000003): [3857], (0.00193772, 0.438363): [783], (0.00194438, 0.594767): [2631], (0.00196164, 0.7560680000000001): [1612], (0.00199131, 0.9911190000000001): [2068], (0.00200898, 0.224679): [2101], (0.00203194, 0.42144799999999993): [60], (0.00203572, 0.815713): [2298], (0.00212366, 0.783748): [1980], (0.00214222, 0.925801): [3176], (0.0021574000000000003, 0.27010300000000004): [1697], (0.00216638, 0.306477): [856], (0.00218152, 0.45065500000000003): [2472], (0.00219488, 0.8738540000000001): [3512], (0.00220501, 0.613019): [2795], (0.00220642, 0.0705203): [2798], (0.00222549, 0.44791800000000004): [1939], (0.00223405, 0.818055): [3029], (0.00224274, 0.845744): [1661], (0.00228255, 0.658274): [334], (0.00230204, 0.780841): [2012], (0.00230853, 0.00602714): [35], (0.00231204, 0.590593): [294], (0.00234139, 0.238735): [2785], (0.00236403, 0.26293099999999997): [3085], (0.00240219, 0.709655): [3644], (0.00240302, 0.138241): [830], (0.00240516, 0.789853): [1956], (0.00242364, 0.578592): [1939], (0.00242434, 0.582018): [1073], (0.00243173, 0.273512): [1697], (0.0024335999999999997, 0.489695): [20], ...}

In [ ]:
#딕셔너리 개조하자
graph_modeling_0 = df_time_2.set_index('id_user').T.to_dict()

In [ ]:
for key, value in graph_modeling_0.items():
       if key == 2:
        print(value)  #pizza

In [ ]:
df_time_3 = df_time_2.set_index(keys=['id_user'], inplace=False, drop=True)
df_time_3.sort_index(inplace=True)
df_time_3